<div class="container">
    <table class="table table-striped text-center">
        <thead class="thead-dark">
            <th colspan="3">{{unidade.nome}}</th>
        </thead>
        <tbody>
            <tr class="bg-secondary text-light font-weight-bolder">
                <td>Usuários</td>
                <td>Frequência de atendimento</td>
            </tr>
            {{#each repport}}
            <tr>
                <td><a href="/users/{{this.user.id}}">{{this.user.nome}}</a></td>
                <td>{{this.attendances.length}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>