<div class="container">

  <div class="col-12 center">
    <div class="white-bg">
      <div class="header-login">
        <div class="mt-5 row">
          <div class="col-md-12">
            <h3 class="title-login">Bem-Vindo ao PCPD!</h3>
          </div>
        </div>
      </div>

      <div class="box-login">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="form-group">
            <label class="label-login" for="username">Usuário</label>

            <input type="text" id="txtUsuario" name="username" class="form-control" formControlName="username" data-toggle="tooltip" data-placement="bottom" title="No mínimo 3 caracteres">
          </div>

          <div class="form-group">
            <label class="label-login" for="password">Senha</label>
            <input type="password" id="txtPassword" name="password" class="form-control" formControlName="password" data-toggle="tooltip" data-placement="bottom" title="No mínimo 6 caracteres">
          </div>

          <span class="invalid-login" *ngIf="invalidLogin">Não foi possível autenticar o usuário. The user name or
            password
            is incorrect. </span>

          <div class="text-center">
            <button type="submit" [ngClass]="{ 'disable' : !loginForm.valid }" [disabled]="!loginForm.valid" class="btn btn-primary"
              id="btnAcessar">Entrar</button>
          </div>
        </form>
      </div>
      <div class="lines-login"></div>
    </div>

  </div>
</div>