//COLORS

$blue: #004e9e;
$bg-blue-middle: #0d365f;
$bg-blue-hard: #0f3256;
$bg-blue-hover: #9ec9db;
$blue-how-works: #003f80;
$purple: #682E85;
$green: #cad400;
$black-text: #323232;
$bg-gray: #f4f4f4;
$bg-green: #b9d400;
$red:#cc0000;
$whisper:#EEEEEE;

//SPACE

$padding-pattern: 1.258em;

//FONT

$font: Rubik;


